body, html {
    width: 100%;
    height: 100%;
  
   
    
}
body {
    background: url("../images/sims-wallpaper.jpg");
    /* background-position: center; */
    /* object-fit: scale-down; */
    width: 100vw;
    height: 100vh;
    background-size: contain;
    
     background-repeat: no-repeat;
     position: fixed;
    /* text-align: center; */
    /* background: url("../images/sims-wallpaper.jpg"); */

}

#start-button {
    margin: 20px;
    
}

#container {
    background-color:
    white;
    opacity: 0.85;
    /* border-color: #2d6db4;
    border-width: 10px;
    border-style: dashed; */
    overflow: auto;
    height: 650px;
    width: 750px;
    margin-top: 25px;
    text-align: center;
}

h1{
    color:white;
}

#simslogo {
    width: 65%;
    height: 50%;
    

}