body, html {
    width: 100%;
    height: 100%;
  
   
    
}
body {
    background-size: auto;
    background: url("../images/sims-wallpaper.jpg");
    /* background-repeat: no-repeat; */
    text-align: center;
    /* background: url("../images/sims-wallpaper.jpg"); */

}

#start-button {
    margin: 20px;
    
}

#container {
    background-color:
    #81e43b;
    border-color: #2d6db4;
    border-width: 10px;
    border-style: dashed;
    overflow: auto;
    height: 650px;
    width: 750px;
    margin-top: 25px;
}

h1{
    color:white;
}

#simslogo {
    width: 65%;
    height: 50%;
    

}